:root {
  background-color: var(--background-color);
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto-Regular";
  cursor: none !important;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("/fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("/fonts/Roboto-Thin.ttf");
}

:root{
  --primary-color: #212121;
  --secondary-color: #373737;
  --tertiary-color: #4d4d4d;
  --disabled: #7c7c7c;
  --background-color: #242424;
  --text-color: #ececec;
}