.display{
    min-width: 15rem;
    max-width: 15rem;
    height: 100%;
    background-color: var(--cardBackground);
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.displayHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    
}