.screenMessage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    margin: 1rem;
    width: 20%;
    height: 1px;
    background-color: var(--disabled);
}

.textBlocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer{
    position: absolute;
    bottom: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}