
@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Medium";
    src: url("/fonts/Roboto-Medium.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Italic";
    src: url("/fonts/Roboto-Italic.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto-Light.ttf");
  }
  
  @font-face {
    font-family: "Roboto-Thin";
    src: url("/fonts/Roboto-Thin.ttf");
  }
  
  :root{
    --primary-color: #212121;
    --secondary-color: #373737;
    --tertiary-color: #4d4d4d;
    --disabled: #7c7c7c;
    --background-color: #242424;
    --text-color: #ececec;
    --cardBackground: #535353;
    --textColor: #dbdbdb;
  }

  /* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--textColor);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--textColor);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--textColor);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--tertiary-color);
}